<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>114991615528-l3iv45jjf1rhtrdcfm8adrr7h0nb2lc8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.114991615528-l3iv45jjf1rhtrdcfm8adrr7h0nb2lc8</string>
	<key>API_KEY</key>
	<string>AIzaSyCpDIC7yKAjIjwVk2JIiZxlGKdMbAkKuSg</string>
	<key>GCM_SENDER_ID</key>
	<string>114991615528</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.Tolui.akari.Renda-Test</string>
	<key>PROJECT_ID</key>
	<string>renda-fece2</string>
	<key>STORAGE_BUCKET</key>
	<string>renda-fece2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:114991615528:ios:6819d4178b6c3ff66d2f1d</string>
</dict>
</plist>